@using Innostar.UI.ViewModels
@model RecoverPasswordModel

@{
    Layout = "../Shared/_InfoLayout.cshtml";
}

@using (Html.BeginForm("Password", "Recover", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="hero-unit error-container color-shadow" style="padding: 150px; margin-top: 150px;">
        @Html.HiddenFor(model => model.RequestId)
        @Html.HiddenFor(model => model.RequestKey)

        @Html.LabelFor(model => model.UserLogin)
        @Html.DisplayTextFor(model => model.UserLogin)

        @Html.LabelFor(model => model.NewPassword)
        @Html.TextBoxFor(model => model.NewPassword)

        <div>
            <input type="submit" value="Сохранить" />
        </div>
    </div>
}
