@model XChat.Models.ViewModels.RecoverPasswordModel

@{
    Layout = "_Layout.cshtml";
}

@using (Html.BeginForm("Password", "Recover", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.RequestId)
    @Html.HiddenFor(model => model.RequestKey)

    @Html.LabelFor(model => model.UserLogin)
    @Html.DisplayTextFor(model => model.UserLogin)

    @Html.LabelFor(model => model.NewPassword)
    @Html.TextBoxFor(model => model.NewPassword)
    @Html.ValidationMessageFor(model => model.NewPassword)

    <div>
        <input type="submit" value="Сохранить" />
    </div>
}