@{
    ViewBag.Title = "MegaTalk";
}

@section scripts
{
    @Scripts.Render("~/bundles/spin")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/tagsCloud")
    @Scripts.Render("~/bundles/jquery-paged-scroll")
    @Scripts.Render("~/bundles/jquery.mCustomScrollbar")
}

<div class="content-wrapper">
    <div class="hero-unit error-container color-shadow" style="padding: 150px; margin-top: 150px;">
        <h1></h1>
        <h2><b>MegaTalk</b></h2>
        <h3></h3>
    </div>
</div>





