@using System.Web.Mvc.Html
@using Application.Core.UI.HtmlHelpers
@model XChat.Areas.Administration.ViewModels.AccountViewModels.PasswordManagmentViewModel

@using (Html.BeginForm("ChangePassword", "Account"))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary("Ошибка!", new {@class = "alert alert-error"})

	<fieldset>
		<div>
			@Html.LabelFor(m => m.OldPassword)
			@Html.PasswordFor(m => m.OldPassword)
			@Html.DescriptionFor(m => m.OldPassword)
		</div>
		<div>
			@Html.LabelFor(m => m.NewPassword)
			@Html.PasswordFor(m => m.NewPassword)
			@Html.DescriptionFor(m => m.NewPassword)
		</div>
		<div>
			@Html.LabelFor(m => m.ConfirmPassword)
			@Html.PasswordFor(m => m.ConfirmPassword)
			@Html.DescriptionFor(m => m.ConfirmPassword)
		</div>
		<input type="submit" class="btn btn-primary" value="Изменить пароль" />
	</fieldset>
}
