@using System.Web.Mvc.Html
@using Application.Core.UI.HtmlHelpers
@model XChat.Areas.Administration.ViewModels.AccountViewModels.PasswordRecoveryViewModel
@{
    ViewBag.Title = "Изменение пароля";
	Layout = "../Shared/_MainLayout.cshtml";
}

@using( Html.BeginForm( "PasswordRecoveryChange", "Account" ) )
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary( "Ошибка!", new
{
    @class = "alert alert-error"
} )
    @Html.HiddenFor(e => e.Token)
    <div>
        @Html.LabelFor( e => e.NewPassword )
        @Html.PasswordFor( m => m.NewPassword )
        @Html.DescriptionFor( m => m.NewPassword )
    </div>
    <div>
        @Html.LabelFor( e => e.ConfirmPassword )
        @Html.PasswordFor( m => m.ConfirmPassword )
        @Html.DescriptionFor( m => m.ConfirmPassword )
    </div>
    <input type="submit" class="btn btn-primary" value="Сохранить" />
}
