@using System.Web.Mvc.Html
@using Application.Core.UI.HtmlHelpers
@model XChat.Areas.Administration.ViewModels.AccountViewModels.LoginViewModel
@{
    ViewBag.Title = "Восстановление пароля";
	Layout = "../Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("PasswordRecovery", "Account"))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary("Ошибка!", new {@class = "alert alert-error"})

	<div>
		@Html.Label("Введите имя пользователя")
		@Html.TextBoxFor(m => m.UserName)
		@Html.DescriptionFor(m => m.UserName)
	</div>
	<input type="submit" class="btn btn-primary" value="Восстановить пароль" />
}

