@model XChat.Models.DB.UserProfile

@{
    ViewBag.Title = "Редактирование пользователя";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "UserProfiles", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>UserProfile</legend>

        @Html.HiddenFor(model => model.Id)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>
