@using Microsoft.Ajax.Utilities
@model Application.Core.Data.IPageableList

@if (Model.TotalCount > Model.PageInfo.PageSize)
{
    var totalPageSize = Model.TotalCount / Model.PageInfo.PageSize + 1;
    var endIndex = Model.PageInfo.PageNumber + 10 > totalPageSize ? totalPageSize : Model.PageInfo.PageNumber + 10;
    var beginIndex = Model.PageInfo.PageNumber;

    while (endIndex - beginIndex < 10 && beginIndex > 1)
    {
        beginIndex--;
    }

    <div>
        Страница @(Model.PageInfo.PageNumber) из @totalPageSize
    </div>

    <div style="text-align: center;">
        <ul class="pagination" style="text-align: center;">
            <li><a class="page-button-for-users" data-number="@((Model.PageInfo.PageNumber - 1) <= 0 ? 1 : Model.PageInfo.PageNumber - 1)">Предыдущая</a></li>

            @for (var i = beginIndex; i <= endIndex; i++)
            {
                if (Model.PageInfo.PageNumber == i)
                {
                    <li class="active"><a class="page-button-for-users" data-number="@(i.ToStringInvariant())">@(i.ToStringInvariant())</a></li>
                }
                else
                {
                    <li><a class="page-button-for-users" data-number="@(i.ToStringInvariant())">@(i.ToStringInvariant())</a></li>
                }
            }

            <li><a class="page-button-for-users" data-number="@((Model.PageInfo.PageNumber + 1) >= totalPageSize ? totalPageSize : Model.PageInfo.PageNumber + 1)">Следующая</a></li>
        </ul>
    </div>
}
