<div style = "background-color: #f9f9f9; margin: 20px 20px 20px 20px; border: 1px solid #dddddd;">
    @Html.Label("%userDisplayName% - Имя пользователя")

    @Html.Label("%userEmail% - Адрес электронной почты пользователя")

    @Html.Label("%userConfirmRequest% - Ссылка для подтверждения адреса электронной почты пользователем")

    @Html.Label("%userPasswordRequest% - Ссылка для восстановления пароля пользователя")
    
    @Html.Label("%safeModeEndTime% - Ссылка для восстановления пароля пользователя")
</div>
